.avatar {
    border-radius: 0;
    margin-bottom: 60px;
}
#description {
    text-align:center;
}
.tagcloud {
    text-align:center;
}
.wrapper {
    width: 960px;
}
section {
    width: 600px;
}
#statusbox {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ff9900;
}
#status {
    margin-bottom: 0;
}